.hero {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 4rem 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}